<!--<p>Did you read for 10 minutes today?</p>-->
<!--<button mat-raised-button-->
<!--        [disabled]="!selected"(click)="completedMetric(true)"-->
<!--        color="primary">Yes-->
<!--</button>-->
<!--<button mat-raised-button-->
<!--        [disabled]="!selected"-->
<!--        (click)="completedMetric(false)" color="warning">No-->
<!--</button>-->

<h1>Your progress this month</h1>

<app-calendar [projectRecords]="projectRecords"
              (emitSelectedDate)="setSelectedDate($event)"></app-calendar>
